# Copy this file to .env and update with your actual values

# Whether to generate source maps for production builds
GENERATE_SOURCEMAP=false

# API URL for the backend server
REACT_APP_API_URL=YOUR_API_URL_HERE

# Socket URL for real-time communication
REACT_APP_SOCKET_URL=YOUR_SOCKET_URL_HERE

# WebSocket URL for real-time communication  
REACT_APP_WS_URL=YOUR_WS_URL_HERE

